<div class="page-header">
  <div class="btn-group btn-group-justified btn-group-lg">
    <div class="btn-group">
      <button ng-click="setActive('previous')" type="button" class="btn btn-lg {{buttons.previous.type}}">Previous</button>
    </div>
    <div class="btn-group">
      <button ng-click="setActive('today')" type="button" class="btn btn-lg {{buttons.today.type}}">Today</button>
    </div>
    <div class="btn-group">
      <button ng-click="setActive('upcoming')" type="button" class="btn btn-lg {{buttons.upcoming.type}}">Upcoming</button>
    </div>
  </div>
</div>