<h1>{{name}}</h1>

<div ng-show="sets[workingSet].reps">

  <excercise_progress current_count="workingSet" total_count="sets.length"></excercise_progress>

  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
    	<button ng-click="decrementWeight()" type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-minus-sign" style="font-size: 5em;"></span>
      </button>
      <span style="font-size: 3em;font-weight: bold; padding:10px;margin:20px;">{{sets[workingSet].weight}}</span>
      <button ng-click="incrementWeight()" type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus-sign" style="font-size: 5em;"></span>
      </button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body" style="text-align: center;">
      <button ng-click="decrementReps()" type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-minus-sign" style="font-size: 5em;"></span>
      </button>
      <span style="font-size: 3em;font-weight: bold; padding:10px; margin:20px;">{{sets[workingSet].reps}}</span>
      <button ng-click="incrementReps()" type="button" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-plus-sign" style="font-size: 5em;"></span>
      </button>
    </div>
  </div>

</div>

<div ng-show="sets[workingSet].duration">
  <h1>Timer...</h1>
</div>


<button ng-click="nextSet()" type="button" class="btn btn-primary btn-lg" style="width:100%;height:100px;">
  <span style="font-size:2em;">Next Set</span>
  <span style="padding-left:20px;font-size:2em;" class="glyphicon glyphicon-circle-arrow-right"></span>
</button>